html {
  box-sizing: 	border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: black;
}

*, *:before, *:after{
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

body {
  background-color: black;
  font-size: 1.8rem!important;
}

.bg-black {
  background-color: black;
}

.swal2-popup, .swal2-modal {
  font-size: 120%;
}